/* Header.css */
.header {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }
  
  .header img {
    max-height: 50px;
  }

@media (max-width: 768px) {
  img {
    border-radius: 8px;
    max-width: 200%;
    height: auto;
  }

  .header {
    padding: 0px;
  }
}
  